<div class="container">
  <div class="header-wrapper">
    <div class="header-logo">
      <img src="/assets/visi-new.png" style="height: 36px">
    </div>
    <div class="header-navigations">
      <div class="navigation-link">
        <p>About</p>
        <app-down-arrow></app-down-arrow>
      </div>
      <p>Features</p>
      <div class="navigation-link">
        <p>What's New</p>
        <app-down-arrow></app-down-arrow>
      </div>
      <div class="navigation-link">
        <p>Support</p>
        <app-down-arrow></app-down-arrow>
      </div>
      <p>Sign in</p>
    </div>
  </div>
</div>