.testimonial-card-parent {
  display: flex;
  justify-content: center;
}

.testimonial-card {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.testimonial-card-people {
  width: 200px;
  height: 200px;
  border: 4px solid #8babc6;
  border-radius: 100%;
}

.testimonial-card-description {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  max-width: 560px;
  padding-left: 56px;
}

.testimonial-card-designation {
  font-size: 28px;
}

.testimonial-card-location {
  font-size: 28px;
  color: #4f4f4f;
}

.testimonial-card-quotes {
  font-size: 24px;
  overflow-wrap: break-word;
  overflow: hidden;
  padding-top: 16px;
  line-height: 30px;
}
