<div class="testimonial-card-parent">
  <div class="testimonial-card">
    <div class="testimonial-card-people">
    </div>
    <div class="testimonial-card-description">
      <div>
        <p class="testimonial-card-designation">{{ testimonial?.title }}</p>
      </div>
      <div>
        <p class="testimonial-card-location">{{ testimonial?.subtitle }}</p>
      </div>
      <div>
        <p class="testimonial-card-quotes">
          {{ testimonial?.message }}
        </p>
      </div>
    </div>
  </div>
</div>